<%- include('header') -%>

<div class="box" id="heading">
    <h1><%=listTitle%></h1>
</div>

<div class="box">
    <form class="box" action="/" method="post" enctype="multipart/form-data">
        <input type="text" name="itemTitle" placeholder="Title" value="">
        <input type="text" name="itemDescription" placeholder="Description" value="">
        <input type="number" name="itemQuantity" placeholder="Quantity" value="">
        <input type="file" name="file" placeholder="Photo">
        <button type="submit" name="list" value="item">+</button>
    </form>
</div>

<div class="container container-fluid">
<table class="table table-light">
    <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-1" scope="col">#</th>
          <th class="col-1" scope="col">Title</th>
          <th class="col-4" scope="col">Description</th>
          <th class="col-1" scope="col">Quantity</th>
          <th class="col-5 text-center" scope="col">Photo</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i = 0; i < product.length; i++){%>
        <tr class="d-flex">
            <th class="col-1" scope="row"><%=i+1%></th>
            <td class="col-1"><%=product[i].title%></td>
            <td class="col-4"><%=product[i].description%></td>
            <td class="col-1"><%=product[i].quantity%></td>
            <td class="col-5">
                <img class="rounded mx-auto d-block" src="./uploads/<%=product[i].image.contentType%>" alt="image" />
            </td>
        </tr>
        <%}%>
    </tbody>
</table>
</div>

<%- include('footer') -%>
